<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.okboomerprototype">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".help_me"></activity>
        <activity android:name=".edit_profile" />
        <activity android:name=".settings" />
        <activity android:name=".profilePage" />
        <activity android:name=".send_message" />
        <activity android:name=".match_confirmation" />
        <activity android:name=".takeSelfie" />
        <activity android:name=".matchScreen" />
        <activity android:name=".specific_chat" />
        <activity android:name=".message_general" />
        <activity android:name=".mainSelection" />
        <activity android:name=".createAccount1" />
        <activity android:name=".login_or_create">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>